@use '../variables.scss' as *;

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.legend {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  font-size: 0.9rem;
  text-align: left;
}

.visible {
  opacity: 1;
}

.legend li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.colorBox {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 8px;
}

// @media(max-width: 1000px){
//   .legend {
//     flex-direction: column;
//     gap: 0;
//   }
// }

